* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color: #64a763;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color:#539091;
    padding: 10px;

    width: 50vw;
    height: 200px;
    text-align: center;
    font-size: 2.5em;
    border: #5590A2 solid 3px;
    border-radius: 2%;

    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    display: inline;
    height: 100px;
}

.title img{
    display: inline;
    width: 50px;
    height: 50px;
    margin: 0 50px 0 50px;
}

.navigate{
    outline: none;
    border-radius: 15px;
}

.navigate:focus{
    animation: borderFade 2s ease-out infinite;
}

@keyframes borderFade {
    0% { border: #000000 solid 5px;; }
    50% { border: #000000 solid 15px; }
    100% { border: #000000 solid 5px;; }
}

footer {
    visibility: hidden;
}

p {
    font-size: 48px;
}

.fadeIn {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#loader{
    width: 50px;
    height: 50px;
    border:#FFFFFF solid 20px;
    border-top-color: #559091;
    border-radius: 50%;
    transform: rotate(0turn) scale(2);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to{
        transform: rotate(1turn) scale(2);
    }
}

.error {
    color: #FF0000;
    font-size: 1.5em;
}