.msg {
    margin-top: 50vh;
    animation: fadeMsg 4s ease-in infinite;
}

@keyframes fadeMsg {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

button {
    color: #ffffff;
    font-size: 3em;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

button:focus{
    outline: none;
}

footer {
    visibility: hidden;
}

