.msg {
    margin-top: 50vh;

}

button {
    color: #ffffff;
    font-size: 3em;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

button:focus{
    outline: none;
}

footer {
    visibility: hidden;
}
