#botoes_group {
    margin-top: 20vh;

    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes_group button{
    width: 100%;
    height: 100px;
    margin: 10px;

    text-align: center;
    font-size: 3em;
}

#logout{
    position: absolute;
    right: 10px;
    bottom: 10px;

    height: 30px;
    margin: 5px;

    text-align: center;
    font-size: 1.2em;
}

footer {
    visibility: hidden;
}
