* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color: #64a763;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#jogo {
    position: relative;
    background-color: gainsboro;
    border: solid 5px #539091;
    margin-top: 15px;
    width: 85vw;
    height: 90vh;

    overflow: hidden;
}

#jogo div {
    position: absolute;
}

#placar{
    display: inline;
    position: absolute;

    top: 3vh;
    left: 65vw;

    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#personagem{
    position: absolute;
    background-color: red;
    width: 8vw;
    height: 20vh;

    top: 70vh;
    left: 1vw;
}

.pulo{
    animation: pulo 1000ms linear;
}
@keyframes pulo {
    0% {
        top: 70vh;
    }
    50%{
        top: 25vh;
    }   
    100%{
        top: 70vh;
    }
}

.animar_fácil_1{
    animation: obstaculo 3s infinite linear;
}
.animar_fácil_2{
    animation: obstaculo 2.5s infinite linear;
}
.animar_médio_1{
    animation: obstaculo 2s infinite linear;
}
.animar_médio_2{
    animation: obstaculo 1.5s infinite linear;
}
.animar_díficil{
    animation: obstaculo 1s infinite linear;
}

#barreira{
    background-color: blue;
    width: 7vw;
    height: 20vh;

    left: 78vw;
    top: 70vh;

    animation: obstaculo 3s infinite linear;
}

#pedras{
    background-color: gray;
    width: 5vw;
    height: 15vh;

    left: 80vw;
    top:75vh;
    z-index: 1;

    animation: obstaculo 2s infinite linear;

}

#lixeira{
    background-color: green;
    width: 3vw;
    height: 10vh;

    left: 82vw;
    top: 80vh;
    z-index: 2;

    animation: obstaculo 1s infinite linear;

}

@keyframes obstaculo {
    0% {
        left: 85vw;
    }
    100%{
        left: -10vw;
    }
}

footer{
    visibility: hidden;
}
