* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color: #64a763;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#jogo {
    position: relative;
    background-color: gainsboro;
    border: solid 5px #539091;
    margin-top: 15px;
    width: 85vw;
    height: 90vh;

    overflow: hidden;
}

#jogo div {
    position: absolute;
}

#placar{
    display: inline;
    position: absolute;

    top: 3vh;
    left: 65vw;

    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#personagem{
    position: absolute;
    background-color: red;
    width: 8vw;
    height: 20vh;

    bottom: 0vh;
    left: 3vw;
}

.pulo{
    animation: pulo 1000ms ease-out;
}
@keyframes pulo {
    0% {
        bottom: 0vh;
    }
    40%{
        bottom: 25vh;
    }
    50%{
        bottom: 25vh;
    }   
    60%{
        bottom: 25vh;
    }
    100%{
        bottom: 0vh;
    }
}

.animar_facil_1{
    animation: obstaculo 3s infinite linear;
}
.animar_facil_2{
    animation: obstaculo 2.5s infinite linear;
}
.animar_medio_1{
    animation: obstaculo 2s infinite linear;
}
.animar_medio_2{
    animation: obstaculo 1.5s infinite linear;
}
.animar_dificil{
    animation: obstaculo 1s infinite linear;
}

#barreira{
    background-image: url('../images/barrier.png');
    background-repeat: no-repeat;
    background-size: 10vw 25vh;
    background-position: center;
    width: 7vw;
    height: 20vh;

    left: 90vw;
    top: 71vh;
}

#pedras{
    background-image: url('../images/rocks.png');
    background-repeat: no-repeat;
    background-size: 8vw 16vh;
    background-position: center;
    width: 5vw;
    height: 15vh;

    left: 90vw;
    top:76vh;
    z-index: 1;

}

#lixeira{
    background-image: url('../images/trash_can.png');
    background-repeat: no-repeat;
    background-size: 10vw 15vh;
    background-position: center;
    width: 3vw;
    height: 10vh;

    left: 90vw;
    top: 81vh;
    z-index: 2;
}

@keyframes obstaculo {
    0% {
        left: 85vw;
    }
    100%{
        left: -10vw;
    }
}

footer{
    visibility: hidden;
}
