#inicio {
    position: absolute;
    left: 10px;

    width: 150px;
    height: 75px;
    margin: 5px;

    text-align: center;
    font-size: 1.5em;
}

#options {
    margin-top: 20px;

    width: 400px;

    display: flex;
    flex-direction: column;
}

p{
    margin-top: 75px;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
}

#options button{
    width: 100%;
    height: 100px;
    margin: 5px;

    text-align: center;
    font-size: 2.5em;
}

